<a href="/logout" class="logout" role="button">Logout</a>
<br/>
<center><h1 style="color:white">Welcome, {{user}}!</h1></center>
<p id='userName' hidden>{{user}}</p>
<br/>
<!--<div style="margin-left:25%">
  <div style="display:inline-block;margin-right:5%;color:white;font-size:20px;">
    <img class="taPic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZdaIj40vlNy5-KRzeRtBc4nQO3qohNEQdfJydorNEXmUVwVyn"> &nbsp;&nbsp;&nbsp;&nbsp;No current jobs</img>
  </div>
  <br/>
  <br/>
  <label class="switch" style="margin-left:2%">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>-->
<div class="tas" style="margin-left:0%;">
  <center>
    <div style="display:inline-block;margin-right:5%">
      <img class="taPic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZdaIj40vlNy5-KRzeRtBc4nQO3qohNEQdfJydorNEXmUVwVyn"></img>
      <p class="text-with-img">Bob Bob <i class="fa fa-circle" aria-hidden="true"></i></p>
    </div>
    <div style="display:inline-block;margin-right:5%">
      <img class="taPic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZdaIj40vlNy5-KRzeRtBc4nQO3qohNEQdfJydorNEXmUVwVyn"></img>
      <p class="text-with-img">Bob Bob <i class="fa fa-circle" aria-hidden="true"></i></p>
    </div>
    <div style="display:inline-block;margin-right:5%">
      <img class="taPic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZdaIj40vlNy5-KRzeRtBc4nQO3qohNEQdfJydorNEXmUVwVyn"></img>
      <p class="text-with-img">Bob Bob <i class="fa fa-circle" aria-hidden="true"></i></p>
    </div>
  </center>
</div>

<br/>
<br/>
<!-- Rounded switch -->
<!-- Rounded switch -->

<center><div class="alert alert-success" style="width:50%">
  <strong>Heads up!</strong> You've been assigned to TA.
</div></center>
<div id="queue" class="queueBody" style="height:300px;width:50%;max-height:96%;overflow:auto">
</div>
<br/>

<center><form class="form-inline">
  <div class="input-group" style="width:20%">
    <input id="desc" type="text" class="form-control" placeholder="(Optional) Brief description">
  </div>
  <div class="input-group" style="width:20%">
    <input id="category" type="text" class="form-control" placeholder="(Optional) Category">
  </div>
  <button id="addToQueue" class="btn btn-primary">Add to Queue</button>
  <div class="checkbox">
    <label style="color:white"><input type="checkbox" value="usePass"> Use Pass</label>
  </div>
</form></center>

<script>
  $('#addToQueue').on('click', function(evt) {
    evt.preventDefault();
    console.log('description: ' + $('#desc').val());
    console.log('category: ' + $('#category').val());
    $.ajax({
      url: 'http://localhost:3000/add',
      method:'post',
      data: {
        description: $('#desc').val(),
        category: $('#category').val()
      },
      success: function(resp) {
        var queue = resp['queue'];
        $('#queue').empty();
        $('#desc').val('');
        $('#category').val('');
        for (var i = 0; i < queue.length; i++) {
          if (i === 0 && resp.isFirst) {
            $('#queue').append(`<div class="panel panel-default">
            <div class="panel-heading">${queue[i].username} <i id='cancel' style="float:right;color:red" class="fa fa-times-circle" aria-hidden="true"></i></div>
            <div class="panel-body"><strong>${queue[i].category}</strong>: ${queue[i].description}<button style="float:right" class="btn btn-default">Get Pass</button></div>
            </div>`);
          } else if ($('#userName').text() === queue[i].username) {
            console.log('username text: ' + $('#userName').text());
            $('#queue').append(`<div class="panel panel-default">
            <div class="panel-heading">${queue[i].username} <i id='cancel' style="float:right;color:red" class="fa fa-times-circle" aria-hidden="true"></i></div>
            <div class="panel-body"><strong>${queue[i].category}</strong>: ${queue[i].description}akajsdfs</div>
            </div>`);
          } else {
            $('#queue').append(`<div class="panel panel-default">
            <div class="panel-heading">${queue[i].username}</div>
            <div class="panel-body"><strong>${queue[i].category}</strong>: ${queue[i].description}</div>
            </div>`);
          }
        }
        console.log('response from request: ' + JSON.stringify(resp));
        $("#addToQueue").prop("disabled",true);
      }
    });
  });

  $('#queue').on('click', '#cancel', function () {
    console.log('Cancel!');
    $.ajax({
      url: 'http://localhost:3000/cancel',
      method: 'get',
      success: function(resp) {
        $('#queue').empty();
        var queue = resp['queue'];
        console.log('response queue: ' + queue);
        for (var i = 0; i < queue.length; i++) {
          $('#queue').append(`<div class="panel panel-default">
          <div class="panel-heading">${queue[i].username}</div>
          <div class="panel-body"><strong>${queue[i].category}</strong>: ${queue[i].description}</div>
          </div>`);
        }
        $("#addToQueue").prop("disabled",false);
      }
    })
   });

  $('#getPass').on('click', function(evt) {
    console.log('Get pass!');
  });

  setInterval(function() {
    var currentHour = (new Date()).getHours();
    if (currentHour === 0) {
      // make post request to reset
      $.ajax({
        url:"http://localhost:3000/reset",
        method:'get',
        success: function(resp) {
          //change the queue and the TAs
        }
      })
    }
  }, 1000*60*60);
</script>
