<a href="/logout" class="logout" role="button">Logout</a>
<br/>

<center><h1 style="color:white">Welcome, {{user.username}}!</h1></center>
<p id='userName' hidden>{{user.username}}</p>
<br/>


{{#if user.isStudent}}
<div class="tas" style="margin-left:45%;">
  <center>
    <!-- This is where the Ta profiles will be -->
  </center>
</div>
{{else}}
  <div style="margin-left:25%">
    <div  style="display:inline-block;margin-right:5%;color:white;font-size:20px;">
    <img class="taPic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZdaIj40vlNy5-KRzeRtBc4nQO3qohNEQdfJydorNEXmUVwVyn"> &nbsp;&nbsp;&nbsp;&nbsp;</img>
    <div id="assignment">No current assignment</div>
    </div>
    <br/>
    <br/>
  </div>
  {{#if user.available}}
    <a id="availButton" title="button">Available</a>
  {{else}}
    <a id="availButton" class="down" title="button">Unavailable</a>
    <button type="button" id="done">Done</button>
  {{/if}}
{{/if}}
<br/>
<br/>

<div id="assignedAlert">
  <!--<center><div class="alert alert-success" style="width:50%">
    <strong>Heads up!</strong> You've been assigned to TA.
  </div></center>-->
</div>

<div id="queue" class="queueBody" style="height:300px;width:50%;max-height:96%;overflow:auto">
</div>
<br/>

{{#if user.isStudent}}
<center><form class="form-inline">
  <div class="input-group" style="width:20%">
    <input id="desc" type="text" class="form-control" placeholder="(Optional) Brief description">
  </div>
  <div class="input-group" style="width:20%">
    <input id="category" type="text" class="form-control" placeholder="(Optional) Category">
  </div>
  <button id="addToQueue" class="btn btn-primary">Add to Queue</button>
</form></center>
{{/if}}

<script>
  //load ta and queue --> getAssignments
  $(document).ready(function() {
    $.ajax({
      url: 'http://localhost:3000/getAssignments',
      method:'get',
      success: function(resp) {
        var tas = resp.tas;
        var queue = resp.queue;
        var currentUser = resp.user;

        $('.tas').empty();
        $('#queue').empty();
        if (currentUser.isStudent && currentUser.assignedTA) {
          $('#assignedAlert').append(`<center><div class="alert alert-success" style="width:50%"><strong>Heads up!</strong> You've been assigned to  ${ta.username}.</div></center>`);
        }
        if (! currentUser.isStudent && currentUser.assignedTo) {
          Student.findOne({_id:currentUser['assignedTo']}, function(err, student) {
            $('#assignment').text('Assigned to ' + student.username);
            $('#assignment').addClass('down');
            $('#done').show();
          });
        }
        tas.forEach(function(ta) {
          //render each ta
          $('.tas').append(`<div style="display:inline-block;margin-right:5%">
            <img class="taPic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZdaIj40vlNy5-KRzeRtBc4nQO3qohNEQdfJydorNEXmUVwVyn"></img>
            <p class="text-with-img">${ta.username} <i style="color:red" class="fa fa-circle" aria-hidden="true"></i></p>
          </div>`);
        });
        queue.forEach(function(student) {
          $('#queue').append(`<div class="panel panel-default">
          <div class="panel-heading">${student.username} <i id='cancel' style="float:right;color:red" class="fa fa-times-circle" aria-hidden="true"></i></div>
          <div class="panel-body"><strong>${student.category}</strong>: ${student.description}</div>
          </div>`);
        });
      }
    });

    $('#addToQueue').on('click', function(evt) {
      evt.preventDefault();
      console.log('description: ' + $('#desc').val());
      console.log('category: ' + $('#category').val());
      $.ajax({
        url: 'http://localhost:3000/add',
        method:'post',
        data: {
          description: $('#desc').val(),
          category: $('#category').val()
        },
        success: function(resp) {
          var queue = resp['queue'];
          $('#queue').empty();
          $('#desc').val('');
          $('#category').val('');
          for (var i = 0; i < queue.length; i++) {
            if ($('#userName').text() === queue[i].username) {
              console.log('username text: ' + $('#userName').text());
              $('#queue').append(`<div class="panel panel-default">
              <div class="panel-heading">${queue[i].username} <i id='cancel' style="float:right;color:red" class="fa fa-times-circle" aria-hidden="true"></i></div>
              <div class="panel-body"><strong>${queue[i].category}</strong>: ${queue[i].description}</div>
              </div>`);
            } else {
              $('#queue').append(`<div class="panel panel-default">
              <div class="panel-heading">${queue[i].username}</div>
              <div class="panel-body"><strong>${queue[i].category}</strong>: ${queue[i].description}</div>
              </div>`);
            }
          }
          $("#addToQueue").prop("disabled",true);
        }
      });
    });

    $('#queue').on('click', '#cancel', function () {
      $.ajax({
        url: 'http://localhost:3000/cancel',
        method: 'get',
        success: function(resp) {
          $('#queue').empty();
          var queue = resp['queue'];
          console.log('response queue: ' + queue);
          for (var i = 0; i < queue.length; i++) {
            if ($('#userName').text() === queue[i].username) {
              console.log('username text: ' + $('#userName').text());
              $('#queue').append(`<div class="panel panel-default">
              <div class="panel-heading">${queue[i].username} <i id='cancel' style="float:right;color:red" class="fa fa-times-circle" aria-hidden="true"></i></div>
              <div class="panel-body"><strong>${queue[i].category}</strong>: ${queue[i].description}</div>
              </div>`);
            } else {
              $('#queue').append(`<div class="panel panel-default">
              <div class="panel-heading">${queue[i].username}</div>
              <div class="panel-body"><strong>${queue[i].category}</strong>: ${queue[i].description}</div>
              </div>`);
            }
          }
          $("#addToQueue").prop("disabled",false);
        }
      })
     });

    $('#getPass').on('click', function(evt) {
      console.log('Get pass!');
    });

    $('#availButton').click(function(){
      $(this).toggleClass("down");
      if ($(this).text() === "Unavailable") {
        $(this).text("Available");
      } else {
        $(this).text("Unavailable");
      }
      $.ajax({
        url: 'http://localhost:3000/changeStatus',
        method: 'post',
        success: function(resp) {
        }
      });
    });

    $('#done').on('click', function() {
      $('#done').hide();
      $('#availButton').removeClass('done');
      $('#availButton').text('Available');
      $.ajax({
        url: 'http://localhost:3000/done',
        method: 'post',
        success: function(resp) {

        }
      })
    })

    setInterval(function() {
      var currentHour = (new Date()).getHours();
      if (currentHour === 0) {
        // make post request to reset
        $.ajax({
          url:"http://localhost:3000/reset",
          method:'get',
          success: function(resp) {
            //change the queue and the TAs
          }
        })
      }
    }, 1000*60*60);

    setInterval(function() {
      //update with new tas and queue status
      $.ajax({
        url: 'http://localhost:3000/getAssignments',
        method:'get',
        success: function(resp) {
          var tas = resp.tas;
          var queue = resp.queue;
          var currentUser = resp.user;
          $('.tas').empty();
          $('#queue').empty();
          tas.forEach(function(ta) {
            //render each ta
            if (ta.available) {
              $('.tas').append(`<div style="display:inline-block;margin-right:5%">
                <img class="taPic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZdaIj40vlNy5-KRzeRtBc4nQO3qohNEQdfJydorNEXmUVwVyn"></img>
                <p class="text-with-img">${ta.username} <i style="color:green" class="fa fa-circle" aria-hidden="true"></i></p>
              </div>`);
            } else {
              $('.tas').append(`<div style="display:inline-block;margin-right:5%">
                <img class="taPic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZdaIj40vlNy5-KRzeRtBc4nQO3qohNEQdfJydorNEXmUVwVyn"></img>
                <p class="text-with-img">${ta.username} <i style="color:red" class="fa fa-circle" aria-hidden="true"></i></p>
              </div>`);
            }
          });
          queue.forEach(function(student) {
            $('#queue').append(`<div class="panel panel-default">
            <div class="panel-heading">${student.username} <i id='cancel' style="float:right;color:red" class="fa fa-times-circle" aria-hidden="true"></i></div>
            <div class="panel-body"><strong>${student.category}</strong>: ${student.description}</div>
            </div>`);
          });
        }
      });
    }, 5000);
  });
</script>
