<button class="btn btn-default logout">Logout</button>
<div class="tas">
</div>
<br/>
<br/>
<br/>
<center><div class="alert alert-success" style="width:50%">
  <strong>Heads up!</strong> You've been assigned to TA.
</div></center>
<div class="queueBody" style="height:300px;width:50%;overflow-y:scroll">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>1.</strong>&nbsp;&nbsp;Username at Table Number</div>
    <div class="panel-body">Panel Content</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><strong>1.</strong>&nbsp;&nbsp;Username at Table Number</div>
    <div class="panel-body">Panel Content</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><strong>1.</strong>&nbsp;&nbsp;Username at Table Number</div>
    <div class="panel-body">Panel Content</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><strong>1.</strong>&nbsp;&nbsp;Username at Table Number</div>
    <div class="panel-body">Panel Content</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><strong>1.</strong>&nbsp;&nbsp;Username at Table Number</div>
    <div class="panel-body">Panel Content</div>
  </div>
</div>
