<button class="logout">Logout</button>
<br/>
<center><div class="tas">
  <img class="taPic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZdaIj40vlNy5-KRzeRtBc4nQO3qohNEQdfJydorNEXmUVwVyn"></img>
  <p>Bob Bob</p>
</div></center>
<br/>
<br/>
<center><div class="alert alert-success" style="width:50%">
  <strong>Heads up!</strong> You've been assigned to TA.
</div></center>
<div class="queueBody" style="height:300px;width:50%;overflow-y:scroll">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>1.</strong>&nbsp;&nbsp;Username <i style="color:red;float:right" class="fa fa-times-circle" aria-hidden="true"></i></div>
    <div class="panel-body">Panel Content</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><strong>1.</strong>&nbsp;&nbsp;Username at Table Number</div>
    <div class="panel-body">Panel Content</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><strong>1.</strong>&nbsp;&nbsp;Username at Table Number</div>
    <div class="panel-body">Panel Content</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><strong>1.</strong>&nbsp;&nbsp;Username at Table Number</div>
    <div class="panel-body">Panel Content</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><strong>1.</strong>&nbsp;&nbsp;Username at Table Number</div>
    <div class="panel-body">Panel Content</div>
  </div>
</div>
<br/>

<center><form class="form-inline">
  <div class="input-group" style="width:30%">
    <input type="text" class="form-control" placeholder="(Optional) Brief description">
  </div>
  <div class="btn-group">
    <i class="dropdown-arrow dropdown-arrow-inverse"></i>
    <button class="btn btn-primary">Category</button>
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-inverse">
      <li><a href="#fakelink">Debugging</a></li>
      <li><a href="#fakelink">Concept</a></li>
      <li><a href="#fakelink">Clarification</a></li>
    </ul>
  </div>
  <button type="submit" style="border:none;color:white;background-color:#ff585b"class="btn btn-default">Submit</button>
</form></center>
