<a href="/logout" class="logout" role="button">Logout</a>
<br/>

  <center><h1 style="color:white">Welcome, {{user.username}}!</h1></center>
  <p id='userName' hidden>{{user.username}}</p>
  <br/>
{{#if user.isStudent}}
{{else}}
<div style="margin-left:25%">
  <div style="display:inline-block;margin-right:5%;color:white;font-size:20px;">
    <img class="taPic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZdaIj40vlNy5-KRzeRtBc4nQO3qohNEQdfJydorNEXmUVwVyn"> &nbsp;&nbsp;&nbsp;&nbsp;No current jobs</img>
  </div>
  <br/>
  <br/>
  <label class="switch" style="margin-left:2%">
    <input id="toggle" type="checkbox">
    <span class="slider round"></span>
  </label>
</div>
{{/if}}

{{#if user.isStudent}}
<div class="tas" style="margin-left:50%;">
  <center>
    <!--<div style="display:inline-block;margin-right:5%">
      <img class="taPic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZdaIj40vlNy5-KRzeRtBc4nQO3qohNEQdfJydorNEXmUVwVyn"></img>
      <p class="text-with-img">Bob Bob <i class="fa fa-circle" aria-hidden="true"></i></p>
    </div>-->
  </center>
</div>
{{/if}}
<br/>
<br/>

<center><div class="alert alert-success" style="width:50%">
  <strong>Heads up!</strong> You've been assigned to TA.
</div></center>
<div id="queue" class="queueBody" style="height:300px;width:50%;max-height:96%;overflow:auto">
</div>
<br/>

{{#if user.isStudent}}
<center><form class="form-inline">
  <div class="input-group" style="width:20%">
    <input id="desc" type="text" class="form-control" placeholder="(Optional) Brief description">
  </div>
  <div class="input-group" style="width:20%">
    <input id="category" type="text" class="form-control" placeholder="(Optional) Category">
  </div>
  <button id="addToQueue" class="btn btn-primary">Add to Queue</button>
</form></center>
{{/if}}
<script>
  //load ta and queue --> getAssignments
  $(document).ready(function() {
    $.ajax({
      url: 'https://ronchon-maison-19725.herokuapp.com/getAssignments',
      method:'get',
      success: function(resp) {
        var tas = resp.tas;
        var queue = resp.queue;
        tas.forEach(function(ta) {
          //render each ta
          $('.tas').append(`<div style="display:inline-block;margin-right:5%">
            <img class="taPic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZdaIj40vlNy5-KRzeRtBc4nQO3qohNEQdfJydorNEXmUVwVyn"></img>
            <p class="text-with-img">${ta.username} {{#if ta.available}}<i style="color:green" class="fa fa-circle" aria-hidden="true"></i>{{else}}<i style="color:red" class="fa fa-circle" aria-hidden="true"></i>{{/if}}</p>
          </div>`);
        });
      }
    });

    $('#addToQueue').on('click', function(evt) {
      evt.preventDefault();
      console.log('description: ' + $('#desc').val());
      console.log('category: ' + $('#category').val());
      $.ajax({
        url: 'https://ronchon-maison-19725.herokuapp.com/add',
        method:'post',
        data: {
          description: $('#desc').val(),
          category: $('#category').val()
        },
        success: function(resp) {
          var queue = resp['queue'];
          $('#queue').empty();
          $('#desc').val('');
          $('#category').val('');
          for (var i = 0; i < queue.length; i++) {
            if ($('#userName').text() === queue[i].username) {
              console.log('username text: ' + $('#userName').text());
              $('#queue').append(`<div class="panel panel-default">
              <div class="panel-heading">${queue[i].username} <i id='cancel' style="float:right;color:red" class="fa fa-times-circle" aria-hidden="true"></i></div>
              <div class="panel-body"><strong>${queue[i].category}</strong>: ${queue[i].description}</div>
              </div>`);
            } else {
              $('#queue').append(`<div class="panel panel-default">
              <div class="panel-heading">${queue[i].username}</div>
              <div class="panel-body"><strong>${queue[i].category}</strong>: ${queue[i].description}</div>
              </div>`);
            }
          }
          console.log('response from request: ' + JSON.stringify(resp));
          $("#addToQueue").prop("disabled",true);
        }
      });
    });

    $('#queue').on('click', '#cancel', function () {
      console.log('Cancel!');
      $.ajax({
        url: 'https://ronchon-maison-19725.herokuapp.com/cancel',
        method: 'get',
        success: function(resp) {
          $('#queue').empty();
          var queue = resp['queue'];
          console.log('response queue: ' + queue);
          for (var i = 0; i < queue.length; i++) {
            if ($('#userName').text() === queue[i].username) {
              console.log('username text: ' + $('#userName').text());
              $('#queue').append(`<div class="panel panel-default">
              <div class="panel-heading">${queue[i].username} <i id='cancel' style="float:right;color:red" class="fa fa-times-circle" aria-hidden="true"></i></div>
              <div class="panel-body"><strong>${queue[i].category}</strong>: ${queue[i].description}</div>
              </div>`);
            } else {
              $('#queue').append(`<div class="panel panel-default">
              <div class="panel-heading">${queue[i].username}</div>
              <div class="panel-body"><strong>${queue[i].category}</strong>: ${queue[i].description}</div>
              </div>`);
            }
          }
          $("#addToQueue").prop("disabled",false);
        }
      })
     });

    $('#getPass').on('click', function(evt) {
      console.log('Get pass!');
    });

    $('#toggle').on('click', function(evt) {
      console.log('toggle button clicked!');
      alert('hi');
    });

    setInterval(function() {
      var currentHour = (new Date()).getHours();
      if (currentHour === 0) {
        // make post request to reset
        $.ajax({
          url:"https://ronchon-maison-19725.herokuapp.com/reset",
          method:'get',
          success: function(resp) {
            //change the queue and the TAs
          }
        })
      }
    }, 1000*60*60);

    setInterval(function() {
      //update with new tas and queue status
    });
  });
</script>
