<a href="/logout" class="logout" role="button">Logout</a>
<br/>
<center><h1 style="color:white">Welcome, {{user}}!</h1></center>
<br/>
<!--<div style="margin-left:25%">
  <div style="display:inline-block;margin-right:5%;color:white;font-size:20px;">
    <img class="taPic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZdaIj40vlNy5-KRzeRtBc4nQO3qohNEQdfJydorNEXmUVwVyn"> &nbsp;&nbsp;&nbsp;&nbsp;No current jobs</img>
  </div>
  <br/>
  <br/>
  <label class="switch" style="margin-left:2%">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>-->
<div class="tas" style="margin-left:0%;">
  <center>
    <div style="display:inline-block;margin-right:5%">
      <img class="taPic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZdaIj40vlNy5-KRzeRtBc4nQO3qohNEQdfJydorNEXmUVwVyn"></img>
      <p class="text-with-img">Bob Bob <i class="fa fa-circle" aria-hidden="true"></i></p>
    </div>
    <div style="display:inline-block;margin-right:5%">
      <img class="taPic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZdaIj40vlNy5-KRzeRtBc4nQO3qohNEQdfJydorNEXmUVwVyn"></img>
      <p class="text-with-img">Bob Bob <i class="fa fa-circle" aria-hidden="true"></i></p>
    </div>
    <div style="display:inline-block;margin-right:5%">
      <img class="taPic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZdaIj40vlNy5-KRzeRtBc4nQO3qohNEQdfJydorNEXmUVwVyn"></img>
      <p class="text-with-img">Bob Bob <i class="fa fa-circle" aria-hidden="true"></i></p>
    </div>
  </center>
</div>

<br/>
<br/>
<!-- Rounded switch -->
<!-- Rounded switch -->

<center><div class="alert alert-success" style="width:50%">
  <strong>Heads up!</strong> You've been assigned to TA.
</div></center>
<div class="queueBody" style="height:300px;width:50%;overflow-y:scroll">
  
</div>
<br/>

<center><form class="form-inline">
  <div class="input-group" style="width:20%">
    <input type="text" class="form-control" placeholder="(Optional) Brief description">
  </div>
  <div class="btn-group">
    <i class="dropdown-arrow dropdown-arrow-inverse"></i>
    <button class="btn btn-primary">Category</button>
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-inverse">
      <li><a href="#fakelink">Debugging</a></li>
      <li><a href="#fakelink">Concept</a></li>
      <li><a href="#fakelink">Clarification</a></li>
    </ul>
  </div>
  <button id="addToQueue" class="btn btn-primary">Add to Queue</button>
  <div class="checkbox">
    <label style="color:white"><input type="checkbox" value="usePass"> Use Pass</label>
  </div>
</form></center>

<script>
  $('#addToQueue').on('click', function(evt) {
    $.ajax({
      url: 'http://localhost:3000/add',
      method:'get',
      success: function(resp) {
        var queue = resp.queue;
        var isFirst = resp.isFirst;

      }
    });
  });

  $('#cancel').on('click', function(evt) {
    console.log('Cancel!');
  });

  $('#getPass').on('click', function(evt) {
    console.log('Get pass!');
  });

  setInterval(function() {
    var currentHour = (new Date()).getHours();
    if (currentHour === 0) {
      // make post request to reset
      $.ajax({
        url:"http://localhost:3000/reset",
        method:'get',
        success: function(resp) {
          //change the queue and the TAs
        }
      })
    }
  }, 1000*60*60);
</script>
