@import url('https://fonts.googleapis.com/css?family=Lato');
body
{
  background-color: #0d9ed3;
  padding:15px;
  font-family: 'Lato', sans-serif;
}.text-with-img {
    display: block;
    margin: 0 auto;
}
.form-signin
{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control
{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus
{
  z-index: 2;
}

.account-wall
{
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.btn-primary {
  background-color: #ff585b
}

.logout, .logout:hover, .logout:active, .logout:visited {
  margin:16px;
  font-size:16px;
  float:right;
  color:white;
  border:none;
  background-color:#0d9ed3;
  text-decoration:none;
}

.taPic {
  width: 100px;
  border-radius:50%
}

.text-with-img {
    display: block;
    margin: 0 auto;
}

.queueBody {
    margin-left:25%;
}

.btn-primary:hover {
  background-color: #ff3336;
}

.panel-default {
  margin:0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #33cc33;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
