@import url('https://fonts.googleapis.com/css?family=Lato');
body
{
  background-color: #0d9ed3;
  font-family: 'Lato', sans-serif;
}
.form-signin
{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control
{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus
{
  z-index: 2;
}

.account-wall
{
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.btn-primary {
  background-color: #ff585b
}

.logout {
  margin:16px;
  font-size:16px;
  float:right;
  color:white;
  border:none;
  background-color:#0d9ed3;
}

.queueBody {
    margin-left:25%;
}

.btn-primary:hover {
  background-color: #ff3336
}

.panel-default {
  margin:0
}
